<div style="display: flex;">
    <h1 style="font-family: 'Tiny5', sans-serif; font-weight: 400; font-style: normal;">Prescrypto:</h1>
    <h2 class="sub_tittle">Hackathon 2024 ETH</h2>
</div>

<hr>
<div class="foot" style="display: flex; flex-direction: row;">
    <div style="text-align: left; margin: 1rem">
        <h3>DESARROLADO CON ❤️ POR</h3>
        <p>xsismadn3s | Pyhton Developer</p>
        {% comment %} <p>JereMaya22 | Smart Contract</p> {% endcomment %}
        {% comment %} <p>edil9898 | Backend</p> {% endcomment %}
    </div>
    <!-- <div>
        <h3>PROYECTO</h3>
        <p>App descentralizada</p>
    </div> -->
    <div style="text-align: left; margin: 1rem">
        <h3>TECNOLOGIAS UTILIZADAS</h3>
        <p>Solidity | Smart Contract</p>
        <p>Infura | API para blockchain</p>
        <p>Python | Conexión a red blockchain </p>
        <p>Django | Desarrollo backend </p>
    </div>
</div>
<!-- <hr> -->